{{> layout/header }}

<h1 class="page-header">Configuration</h1>

<h2>Adapters</h2>

<div class="row">
{{#each adapters}}
    <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="card">
            <img class="card-img-top" src="https://placekitten.com/400/150" alt="Card image cap">
            <div class="card-block">
                <h5 class="card-title">
                    {{~ name }}
                    <span {{#unless enabled}}style="display: none;" {{/unless}}class="tag tag-success pull-xs-right">Enabled</span>
                    <span {{#if enabled}}style="display: none;" {{/if}}class="tag tag-default pull-xs-right">Disabled</span>
                </h5>
                <p class="card-text">{{ description }}</p>
                <hr>
                <div class="list-group list-group-condensed">
                    <span class="list-group-item disabled">Accounts</span>
                    {{#each accounts~}}
                        <a href="/admin/configuration/edit-account/{{ @../key }}/{{ @key }}/" class="list-group-item list-group-item-action">{{ name }}</a>
                    {{~else~}}
                        <span class="list-group-item">No accounts added.</span>
                    {{~/each}}
                </div>
            </div>
            <div class="card-footer">
                <a href="/admin/configuration/add-account/{{ @key }}/" class="pull-left btn btn-sm btn-primary"><i class="fa fa-cogs" aria-hidden="true"></i> Add Account</a>
                <a {{#if enabled}}style="display: none;" {{/if}}href="/admin/configuration/enable/{{ @key }}/" class="adapter-enable-button pull-right btn btn-sm btn-success"><i class="fa fa-check" aria-hidden="true"></i> Enable</a>
                <a {{#unless enabled}}style="display: none;" {{/unless}}href="/admin/configuration/disable/{{ @key }}/" class="adapter-disable-button pull-right btn btn-sm btn-danger"><i class="fa fa-ban" aria-hidden="true"></i> Disable</a>
            </div>
        </div>
    </div>
{{/each}}
</div>

{{> layout/footer }}
