{{#each sidebar-links}}
    <nav class="nav nav-pills flex-column">
        {{#if links}}
            <span class="nav-header">{{#if icon }}<i class="fa fa-{{ icon }}"></i> {{/if}}{{ text }}</span>
            <nav class="nav nav-pills flex-column">
                {{#each links}}
                    <a class="nav-link{{#equal ../../current-page path}} active{{ else }}{{#nequal path "/"}}{{#startswith ../../current-page path}} active{{/startswith}}{{/nequal}}{{/equal}}" href="{{ path }}">{{#if icon }}<i class="fa fa-{{ icon }}"></i> {{/if}}{{ text }}</a>
                {{/each}}
            </nav>
        {{ else }}
            <a class="nav-link{{#equal ../current-page path}} active{{ else }}{{#nequal path "/"}}{{#startswith ../current-page path}} active{{/startswith}}{{/nequal}}{{/equal}}" href="{{ path }}">{{#if icon }}<i class="fa fa-{{ icon }}"></i> {{/if}}{{ text }}</a>
        {{/if}}
    </nav>
{{/each}}
