<h1 class="page-header">{{ plugin.name }}</h1>

<h2>Account Configuration</h2>

<form id="plugin-account-form" action="/api/plugins/{{ plugin.id }}/{{#if account.id }}accounts/{{ account.id }}{{ else }}add-account{{/if}}/" method="post">
    <div class="form-group row">
        <label for="account-id" class="col-xs-12 col-sm-2 col-form-label">Account ID</label>
        <div class="col-xs-12 col-sm-10">
            {{#if account.id~}}
                <p class="form-control-static">{{ account.id }}</p>
            {{~ else ~}}
                <input name="account-id" type="text" id="account-id" class="form-control" value="{{ account.id }}">
            {{~/if}}
            <small class="form-text text-muted">Something easy to remember, like your username.</small>
        </div>
    </div>
{{#each fields}}
    <div class="form-group row">
        <label for="config--{{ @key }}" class="col-xs-12 col-sm-2 col-form-label">{{ name }}</label>
        <div class="col-xs-12 col-sm-10">
            {{#equal type "select"}}
                <select name="{{ @key }}" id="config--{{ @key }}" class="form-control"{{#equal selection "multiple"}} multiple{{/equal}}>
                    {{#each options}}
                        <option value="{{ value }}"{{#contains (getFrom ../../account.fields @../key) value}} selected{{/contains}}>{{ name }}</option>
                    {{/each}}
                </select>
            {{/equal}}
            {{#equal type "text"}}
                <input name="{{ @key }}" type="text" id="config--{{ @key }}" class="form-control" value="{{ getFrom ../account.fields @key }}">
            {{/equal}}
        </div>
    </div>
{{/each}}
    <div class="row">
        <div class="col-xs-12 col-sm-10 offset-sm-2">
            <button id="save-account-btn" type="submit" class="btn btn-primary pull-left">Save</button>

            <button id="cancel-new-account-btn" class="btn btn-link pull-right text-danger">Cancel</button>
            <button type="reset" class="btn btn-link pull-right text-warning">Reset</button>
        </div>
    </div>
</form>
