{{> layout/header }}

<h1 class="page-header">Plugins</h1>

<div class="row">
{{#each plugins}}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <img class="card-img-top" src="/assets/images/logos/{{ @key }}.png" alt="{{ name }} logo">
            <div class="card-block">
                {{#if description }}
                    <p class="card-text">{{ description }}</p>
                    <hr>
                {{/if}}
                <div class="list-group list-group-condensed">
                    <span class="list-group-item disabled"><i class="fa fa-users"></i> Accounts</span>
                    {{#each accounts~}}
                        <span class="list-group-item list-group-item-action">
                            <a href="">{{ name }}</a>
                            <span class="pull-xs-right">
                                <a href="/plugins/edit-account/{{ @../key }}/{{ @key }}" class="text-primary"><i class="fa fa-edit"></i></a>
                                <a href="/plugins/account-data/{{ @../key }}/{{ @key }}" class="text-muted"><i class="fa fa-archive"></i></a>
                                <!-- /plugins/delete-account/{{ @../key }}/{{ @key }}/ -->
                                <a href="#" class="js-delete-account" data-plugin-name="{{ ../name }}" data-plugin-key="{{ @../key }}" data-account-key="{{ @key }}"><i class="fa fa-remove text-danger"></i></a>
                            </span>
                        </span>
                    {{~else~}}
                        <span class="list-group-item">No accounts added.</span>
                    {{~/each}}
                </div>
            </div>
            <div class="card-footer">
                <a href="#" class="js-add-account btn btn-sm btn-primary" data-plugin="{{ @key }}"><i class="fa fa-user-plus" aria-hidden="true"></i> Add Account</a>
                <a href="#" class="js-enable-plugin btn btn-sm btn-success" data-plugin="{{ @key }}"{{#if enabled}} style="display: none;"{{/if}}><i class="fa fa-check" aria-hidden="true"></i> Enable</a>
                <a href="#" class="js-disable-plugin btn btn-sm btn-danger" data-plugin="{{ @key }}"{{#unless enabled}} style="display: none;"{{/unless}}><i class="fa fa-ban" aria-hidden="true"></i> Disable</a>
            </div>
        </div>
    </div>
{{/each}}
</div>

{{> layout/footer }}
