{{> layout/header }}

<h1 class="page-header">Adapter Configuration</h1>

<h2>{{ adapter.name }}</h2>

{{#if showSavedMsg}}
<div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
    Account information saved.
</div>
{{/if}}

<form action="/admin/configuration/edit-account/{{ adapter.key }}/" method="post">
    <input type="hidden" name="account-slug-previous" value="{{ accountData.slug }}">
    <div class="form-group row">
        <label for="account-name" class="col-sm-2 col-form-label">Account Name</label>
        <div class="col-sm-10">
            <input name="account-name" type="text" id="account-name" class="form-control" value="{{ accountData.name }}">
            <small class="form-text text-muted">Something easy to remember, like your username.</small>
        </div>
    </div>
    <div class="form-group row">
        <label for="account-slug" class="col-sm-2 col-form-label">JSON Key</label>
        <div class="col-sm-10">
            <input name="account-slug" type="text" id="account-slug" class="form-control" value="{{ accountData.slug }}">
            <small class="form-text text-muted">Will be used as the JSON key for the stored account data.</small>
        </div>
    </div>
{{#each accountConfig.fields}}
    <div class="form-group row">
        <label for="config--{{ @key }}" class="col-sm-2 col-form-label">{{ name }}</label>
        <div class="col-sm-10">
            {{#equal type "select"}}
                <select name="{{ @key }}" id="config--{{ @key }}" class="form-control"{{#equal selection "multiple"}} multiple{{/equal}}>
                    {{#each options}}
                        <option value="{{ value }}"{{#contains (getFrom ../../accountData.fields @../key) value}} selected{{/contains}}>{{ name }}</option>
                    {{/each}}
                </select>
            {{/equal}}
            {{#equal type "text"}}
                <input name="{{ @key }}" type="text" id="config--{{ @key }}" class="form-control" value="{{getFrom ../accountData.fields @key }}">
            {{/equal}}
        </div>
    </div>
{{/each}}
    <div class="row">
        <div class="btn-group col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-warning">Reset</button>
        </div>
    </div>
</form>

{{> layout/footer }}
