<form id="shard-form">
    <div class="form-group row">
        <label for="shard-id" class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-10">
            {{#if shard}}
                <p class="form-control-static">{{ shard.id }}</p>
                <input type="hidden" id="shard-id" name="shard-id" value="{{ shard.id }}">
            {{ else }}
                <input type="text" id="shard-id" class="form-control" name="shard-id" required>
                <small class="form-text text-muted">This will be used in the URL for the shard.</small>
            {{/if}}
        </div>
    </div>
    <div class="form-group row">
        <label for="shard-description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <textarea id="shard-description" class="form-control" name="shard-description" rows="3">{{#if shard}}{{ shard.description }}{{/if}}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="shard-type" class="col-sm-2 col-form-label">Type</label>
        <div class="col-sm-10">
            {{#if shard}}
                <p class="form-control-static">{{ shard.type }}</p>
                <input type="hidden" id="shard-type" name="shard-type" value="{{ shard.type }}">
            {{ else }}
                <select class="form-control" id="shard-type" name="shard-type" required>
                    <option value=""></option>
                    <option value="boolean">Boolean</option>
                    <option value="json">JSON Object</option>
                    <option value="text">Plain Text</option>
                </select>
            {{/if}}
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{#unless shard}}Starting {{/unless}}Value</label>
        <div class="col-sm-10">
            {{#if shard}}
                {{#equal shard.type "boolean"}}
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" name="shard-value-boolean" id="shard-value-boolean-true" value="true"{{#equal shard.value true}} checked{{/equal}}> True
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" name="shard-value-boolean" id="shard-value-boolean-false" value="false"{{#equal shard.value false}} checked{{/equal}}> False
                    </label>
                {{/equal}}

                {{#equal shard.type "json"}}
                    <textarea class="form-control text-monospace" name="shard-value-json" rows="3">{{ json shard.value }}</textarea>
                {{/equal}}

                {{#equal shard.type "text"}}
                    <input type="text" class="form-control" name="shard-value-text" value="{{ shard.value }}">
                {{/equal}}
            {{ else }}
                <div id="shard-value-notype">
                    <p class="form-control-static">Select a type above in order to specify a starting value.</p>
                </div>

                <div id="shard-value-boolean" class="hidden-xs-up">
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" name="shard-value-boolean" id="shard-value-boolean-true" value="true"> True
                    </label>
                    <label class="form-check-inline">
                        <input class="form-check-input" type="radio" name="shard-value-boolean" id="shard-value-boolean-false" value="false"> False
                    </label>
                </div>

                <div id="shard-value-json" class="hidden-xs-up">
                    <textarea class="form-control text-monospace" name="shard-value-json" rows="3"></textarea>
                </div>

                <div id="shard-value-text" class="hidden-xs-up">
                    <input type="text" class="form-control" name="shard-value-text">
                </div>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 offset-sm-2">
            <button id="save-shard-btn" class="btn btn-primary pull-left">Save</button>
            <button type="reset" class="btn btn-link pull-right">Reset</button>
        </div>
    </div>
</form>
