{{> layout/header }}

<h1 class="page-header">Shard History</h1>

<h2><kbd>{{ key }}</kbd></h2>

<dl class="row">
    {{#each history}}
        <dt class="col-sm-3">{{ dateFormat updated }}</dt>
        <dd class="col-sm-9">{{#equal shard.type "json"}}<pre><code>{{ json value }}</code></pre>{{ else }}{{ value }}{{/equal}}</dd>
    {{/each}}
</dl>

{{> layout/footer }}
